body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
.title {
  font-size: 48px;
  color: #ff9800;
}
.start-page {
  text-align: center;
  margin-top: 20%;
}
.highlight {
  color: #00bcd4;
  font-size: 36px;
  vertical-align: bottom;
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
}
.board {
  text-align: center;
  margin-top: 5%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
}
.square {
  width: 100px;
  height: 100px;
  font-size: 36px;
  text-align: center;
  cursor: pointer;
}
